!!!
%html
  %head
    %title My Search WoW
    %link{ :rel => :stylesheet, :href => 'stylesheets/application.css', :type => 'text/css' }
  %body
    .container
      .header
        %form{ :action => :search, :method => :post }
          %label{ :for => 'query-search' }
            %input{ :type => :text, :name => :query, :placeholder => 'put your search here...', :class => 'search-field' }
          %input{ :type => :submit, :value => 'Go, search it', :class => 'submit-btn' }
            
      .wrapper
        = yield
    
  %footer
    .container
      Powered by
      %a{ :href => 'github.com/lccezinha', :alt => 'link to my github >)', :title => 'see my github :)' } @lccezinha  
