- unless @results.empty?
  %ul.results
    - @results.each do |result|
      %li= "<span class='from'>From: #{result.from_user}</span><br /><span class='tweet'>#{result.text}</span>"
- else
  %p.no-results No results for your search
